@import 'FlatUI/sass/flat-ui';

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px 0 40px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
header {
    input[type="text"] {
        width: 98%;
    }
}
div[role="main"] {
    #speach-list {
        margin: 0;
        padding: 20px 0 0;
        li {
            border-bottom: 1px solid #cccccc;
            font-size: 24px;
            list-style: none;
            margin-bottom: 6px;
            padding-bottom: 5px;
            position: relative;
            input[type="text"] {
                display: none;
            }
            .label-box {
                min-height: 40px;
                label {
                    margin: 0;
                    padding: 10px 0;
                }
                i {
                    position: absolute;
                    display: none;
                    cursor: pointer;
                    font-size: .7em;
                    top: 12px;
                    &.destroy {
                        right: 10px;
                    }
                    &.edit {
                        right: 36px;
                    }
                    &.sound {
                        opacity: 0.5;
                        right: 50%;
                        z-index: -99;
                    }
                    &:hover {
                        color: #FF0000;
                    }
                }
                &:hover {
                    i {
                        display: inline-block;
                    }
                }
            }
            .cancel {
                margin-right: 10px;
            }
            .save, .cancel {
                display: none;
            }
            .video {
                display: none;
            }
            &.editing {
                .save, .cancel {
                    display: inline-block;
                }
                input[type="text"] {
                    display: inline-block;
                }
                .label-box {
                    background-color: transparent;
                    label, i {
                        display: none;
                    }
                }
            }
            &.sortable-dragging {
                border: none;
            }
            &.sortable-placeholder {
                border: 1px dashed #CCC;
                background: none;
                height: 45px;
            }
        }
    }
}
@import 'media-queries';
